@import url("./../blocks/null/null.css");

@import url(./../fonts/fonts.css);

@import url(./../blocks/container/container.css);

@import url(./../blocks/wrapper/wrapper.css);

@import url(./../blocks/body/body.css);

@import url("./../blocks/menu/__icon/menu__icon.css");
@import url("./../blocks/menu/__container/menu__container.css");
@import url("./../blocks/menu/__list/menu__list.css");
@import url("./../blocks/menu/__link/menu__link.css");
@import url("./../blocks/menu/__item/menu__item.css");

@import url("./../blocks/header/header.css");
@import url("./../blocks/header/__container/header__container.css");
@import url("./../blocks/header/__logo/header__logo.css");
@import url("./../blocks/header/__menu/header__menu.css");
@import url("./../blocks/header/__button/header__button.css");

@import url("./../blocks/main/main.css");
@import url("./../blocks/main/__container/main__container.css");

@import url("./../blocks/main-form/main-form.css");
@import url("./../blocks/main-form/__title/main-form__title.css");
@import url("./../blocks/main-form/__button/main-form__button.css");
@import url("./../blocks/main-form/__change/main-form__change.css");

@import url(./../blocks/form-group/form-group.css);

@import url("./../blocks/input/input.css");