input {
    font-family: "Montserrat";
    width: 100%;
    height: 63px;
    border: 1px solid #8B8B8B;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    align-items: center;
    padding: 0 14px 0 14px;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #424242;
}

input:nth-child(2) {
    border-top: 0px;
    border-radius: 0px 0px 10px 10px;
    margin: 0 0 16px 0;
}

@media (max-width: 479.98px) {
    input {
        font-size: 18px;
    }
}