.menu__icon {
    display: none;
}

@media (max-width: 991.98px) {

    .menu__icon {
        flex: 0 0 30px;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
    }

    span,
    .menu__icon::before,
    .menu__icon::after {
        content: "";
        transition: all 0.3s ease 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: 3px;
        background: #434242;
        border-radius: 5px;
    }

    .menu__icon::before {
        top: 0;
    }

    .menu__icon::after {
        bottom: 0;
    }

    span {
        top: calc(50% - 1px);
    }

    .menu-open span {
        width: 0;
    }

    .menu-open .menu__icon::before {
        top: calc(50% - 1px);
        transform: rotate(-45deg);
    }

    .menu-open .menu__icon::after {
        bottom: calc(50% - 1px);
        transform: rotate(45deg);
    }
}


