.main-form__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    margin: 0 0 30px 0;
    width: 100%;
}

@media (max-width: 991.98px) {
    .main-form__title {
        font-size: 30px;
    }
}

@media (max-width: 479.98px) {
    .main-form__title {
        font-size: 22px;
        margin: 0 0 15px 0;
    }
}