.header__button {
    font-family: "Montserrat";
    height: 40px;
    width: 171px;
    background: #FFFFFF;
    border: 1px solid #F65618;
    border-radius: 23px;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #F65618;
    transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.header__button:hover {
    background-color: #F65618;
    color: #ffffff;
}

@media (max-width: 991.98px) {
    .header__button {
        width: 100%;
        height: 60px;
        margin: 20px 0 0 0;
    }
}